<h1>Turbo Anchors</h1>

<p>
 The controller endpoint always returns with a redirect to this page, with an anchor of <code>comment_100</code>. 
</p>

<p>
 The expected result for clicking on any "test" link is that the page should scroll to the green, <code>comment_100</code>.
</p>

<table>
  <tr>
    <th>Method</th>
    <th>Turbo</th>
    <th>URL</th>
    <th>Target</th>
    <th>Test</th>
    <th>Status</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td>patch</td>
    <td>yes</td>
    <td><%= anchor_redirect_path %></td>
    <td>comment_100</td>
    <td><%= link_to "test", anchor_redirect_path, data: { "turbo-method": :patch } %></td>
    <td style="color: red;">fail</td>
    <td></td>
  </tr>
  <tr>
    <td>get</td>
    <td>yes</td>
    <td><%= anchor_redirect_path %></td>
    <td>comment_100</td>
    <td><%= link_to "test", anchor_redirect_path %></td>
    <td style="color: red;">fail</td>
    <td></td>
  </tr>
  <tr>
    <td>get</td>
    <td>no</td>
    <td><%= anchor_redirect_path %></td>
    <td>comment_100</td>
    <td><%= link_to "test", anchor_redirect_path, data: { turbo: false } %></td>
    <td style="color: green;">pass</td>
    <td></td>
  </tr>
  <tr>
    <td>patch</td>
    <td>yes</td>
    <td><%= anchor_redirect_path(anchor: "comment_100") %></td>
    <td>comment_100</td>
    <td><%= link_to "test", anchor_redirect_path(anchor: "comment_100"), data: { "turbo-method": :patch } %></td>
    <td style="color: red;">fail</td>
    <td></td>
  </tr>
  <tr>
    <td>get</td>
    <td>yes</td>
    <td><%= anchor_redirect_path(anchor: "comment_100") %></td>
    <td>comment_100</td>
    <td><%= link_to "test", anchor_redirect_path(anchor: "comment_100") %></td>
    <td style="color: green;">pass</td>
    <td>Pass but shouldn't!</td>
  </tr>
  <tr>
    <td>get</td>
    <td>yes</td>
    <td><%= anchor_redirect_path(anchor: "bad_comment") %></td>
    <td>bad_comment</td>
    <td><%= link_to "test", anchor_redirect_path(anchor: "bad_comment") %></td>
    <td style="color: red;">fail</td>
    <td></td>
  </tr>
</table>

<p>
  Here are some sample comments.
</p>

<ul>
  <% (1..99).each do |comment| %>
 <li>This is a sample comment <%= comment %></li>
  <% end %>
</ul>


<turbo-frame id="comment_100" style="background-color: green;">
 <h1>COMMENT 100</h1>
 <p>
    This is what we want to get to!
 </p>
</turbo-frame>

<ul>
  <% (101..200).each do |comment| %>
 <li>This is a sample comment <%= comment %></li>
  <% end %>
</ul>

<turbo-frame id="bad_comment">
 <h1>BAD COMMENT</h1>
 <p>
    How did we get here? The <code>link_to</code> anchor is taking over the redirect to anchor.
 </p>
</turbo-frame>